{% extends '@theme/layouts/form_base.html' %}

{%- block text_widget -%}
	{%- set class = 'u-full-width' -%}
	{%- set type = type|default('text') -%}
	{{ block('form_widget_simple') }}
{%- endblock text_widget -%}

{%- block email_widget -%}
	{%- set class = 'u-full-width' -%}
	{%- set type = type|default('email') -%}
	{{ block('form_widget_simple') }}
{%- endblock email_widget -%}

{%- block password_widget -%}
	{%- set class = 'u-full-width' -%}
	{%- set type = type|default('password') -%}
	{{ block('form_widget_simple') }}
{%- endblock password_widget -%}