{% extends "_layout.html" %}

{% block content %}
	<div class="row install">
		<div class="six columns">
			<p>One moment please...
			<br />Please do not close or reload this page.</p>
		</div>
	</div>
	<div class="row finish hidden">
		<div class="six columns">
			<p>Installation compelete!</p>
			<p>Your forum website <strong>{{ app.session.get('site_info')['site_name'] }}</strong> has been installed!
			<br />You can now login to your <a href="{{ app.request.getSchemeAndHttpHost }}">website</a>.</p>
			<p>Please also note that you have to remove the <strong>install</strong> directory after this.</p>
		</div>
	</div>
{% endblock %}