{% extends "@theme/layouts/main.html" %}

{% form_theme post_form '@theme/layouts/form_post.html' %}

{% block content %}
	<div class="container main">
		<div class="category post">
			<div class="category-header">
				<h2>{{ post.name }}</h2>
				<p>{% include "@theme/layouts/post_meta.html" %}</p>
			</div>
			<div class="post-view create">
				<h6>Are you sure you want to delete this post?</h6>
				<form action="{{ app.request.pathinfo }}" method="post">
					{{ form_widget(post_form) }}
					<button type="submit" class="button button-negative">Delete Post</button>
					<a href="{{ path('post.view', {board_slug: board.slug, post_id: post.id, post_slug: post.slug}) }}" class="button">Cancel</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}