{% extends "@admin/layouts/main.html" %}

{% block content %}
	<div class="main-container">
		<div class="row page-header">
			<div class="columns small-12 page-header-text">
				<h3>Delete Category &ldquo;{{ category.name }}&rdquo;</h3>
			</div>
		</div>
		<div class="row">
			<div class="columns large-12">
				<h5>Are you sure you want to delete this category?</h5>
			{% if boards %}
				<p class="notes">This cannot be undone. The following boards in this category will be unassigned:</p>
				<ul class="notes">
			{% for board in boards %}
					<li>{{ board.name }}</li>
			{% endfor %}
				</ul>
				<p class="notes">You can assign them again from the boards page of the admin panel.</p>
			{% else %}
				<p class="notes">This cannot be undone. All boards in this category will be unassigned.</p>
			{% endif %}
				<form action="{{ app.request.pathinfo }}" method="post">
					{{ form_widget(category_form) }}
					<button type="submit" class="button alert small radius"><i class="fa fa-trash"></i> Delete</button>
					<a href="{{ path('admin.categories') }}" class="button secondary small radius">Cancel</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}