<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Error 403 - Forbidden</title>
	<style type="text/css">
		body {
			padding: 60px;
			font: 16px/32px 'Open Sans', 'Helvetica Neue', 'DejaVu Sans', Arial, sans-serif;
			color: #222;
		}

		h1, h2, h3, h4, h5, h6, p {
			margin: 0;
		}

		h1 {
			font-size: 36px;
		}

		p {
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<h1>Error 403</h1>
	<h3>Forbidden</h3>
	<p>You are not allowed to access this page</p>
</body>
</html>