{% extends "@admin/layouts/main.html" %}

{% form_theme board_form '@admin/layouts/form_base.html' %}

{% block content %}
	<div class="main-container">
		<div class="row page-header">
			<div class="columns small-7 page-header-text">
				<h3>Edit Board &ldquo;{{ board.name }}&rdquo;</h3>
			</div>
			<div class="columns small-5 page-header-controls">
				<button class="button tiny round" data-remote-submit=".board-form"><i class="fa fa-floppy-o"></i> Save</button>
				<a href="{{ path('admin.boards') }}" class="button secondary tiny round" data-confirm-redirect="Are you sure you want to discard changes in this board?"><i class="fa fa-times"></i> Cancel</a>
			</div>
		</div>
		<div class="row">
			<div class="columns large-5">
				<form action="{{ app.request.pathinfo }}" method="post" class="board-form form-with-slug">
					{{ form_widget(board_form) }}
					<button type="submit" class="button small radius"><i class="fa fa-floppy-o"></i> Save</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}